
{% load static %}
<!-- Footer -->
{% block footer %}
<!-- Footer -->
<footer class="page-footer font-small blue pt-4 bg-dark text-white">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div id="contact-us" class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h3 class="text-uppercase">CONTACT</h3>
        <address>
            <p>
                <i class="fa fa-home pr-10"></i>FOSSEE, IIT Bombay
            </p>
            <p>
                <i class="fa fa-globe pr-10"></i>Mumbai, India
            </p>
            <p>
            <i class="fa fa-phone pr-10"></i>Phone : (+91) 22 25764133
            </p>
            <p>
                <i class="fa fa-envelope pr-10"></i>Email : info [at] fossee [dot] in
            </p> 
        </address>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <!-- <div class="col-md-3 mb-md-0 mb-3">


        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>

      </div> -->
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Other Links</h5>

        <ul class="list-styled">
          <li>
            <a class="text-white" href="https://fossee.in" target="_blank">FOSSEE</a>
          </li>
          <li>
            <a class="text-white" href="https://scilab.in" target="_blank">Scilab</a>
          </li>
          <li>
            <a class="text-white" href="https://esim.fossee.in" target="_blank">eSim</a>
          </li>
          <li>
            <a class="text-white" href="https://openplc.fossee.in" target="_blank">OpenPlc</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
    <span class="text-muted">
        <center>
            <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
        </center>
    </span>
  <!-- Copyright -->

</footer>
<!-- Footer -->
{% endblock %}