*~
*.swp
*.pyc
config.py
arduino_projects_website/config.py
arduino_projects_website/wsgi.py
static/CACHE/*
static/*
*.py[cod]
settings.json
arduino_projects_website.sql
local.py
local_final.py
website/DataSet.*
# C extensions
*.so
media/images/*

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
