{% extends "base.html" %}

{% block css%}
    <link rel="stylesheet" href="{{ URL_ROOT }}/static/yaksh/css/dashboard.css" type="text/css" />
{% endblock %}
{% block content %}
{% if success %}
    <center>
    <div class="alert alert-success" role="alert">
        <strong> {{ msg }} </strong>

    </div>

   <!--  <a href="{% url 'arduino_blog:view_abstracts' %}"> View Abstracts </a>  -->
    </center>
{% else %}
    {% if msg %}
        <center>
        <div class="alert alert-warning" role="alert">
            <strong> {{ msg }} </strong>
            <p>Click here to view your proposal</p>
        </div>
    {% endif %}
{% endif %}
<br/>
{% endblock content %}
