{% extends "base.html" %}

{% load widget_tweaks %}
{% load static %}
{% block content %}

<section id="view_proposal" class="section view_proposal">
    <div class="container">
        <br>
            <center>
                <h1>Submit Proposal</h1>
            </center>
            <hr>
                <div class="row">
                <div class="col-sm-12">
                 <form  action="" method=POST enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="name_of_author">Name of the author
                            <span style="color:red;">*</span>:
                        </label>
                        <input class="form-control" id="your_name" type="text" name="your_name" value="{{ user.first_name }} {{ user.last_name }}" disabled>
                    </div>
                    <div class="form-group">
                        <label for="about_the_author">About the author
                            <span style="color:red;">*</span>:
                        </label>
                 {% render_field proposal_form.about_the_author %}
                    </div>
                    <div class="form-group">
                        <label for="title_of_the_project">Title of the Project
                            <span style="color:red;">*</span>:
                        </label>
                 {% render_field proposal_form.title_of_the_project %}
                    </div>
                    <div class="form-group">
                        <label for="abstract">Abstract (Min. 300 char.)
                            
                            <span style="color:red;">*</span>:
                        
                        </label>
                 {% render_field proposal_form.abstract %}
                        <label>Charater count:
                            <div id="charNum"></div>
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="attachment">Attachments:</label>
                 {% render_field proposal_form.attachment %}
                    </div>
                    <div class="form-group">
                        <label for="abstract">Expected completion date (Aprox. 1 month)
                            <span style="color:red;">*</span>:
                        
                        </label>
                    {% render_field proposal_form.completion_date %}
                    </div>
                    <div class="form-inline">
                        <div class="form-check">
                        {% render_field proposal_form.terms_and_conditions %}
                            <label for="terms_and_conditions"> &nbsp; I agree to the terms and conditions
                                <span style="color:red;">*</span>
                            </label>
                            
                        </div>
                    </div>

              {% csrf_token %}
                    <center>
                        <button id="subbtn" class="btn btn-info" type="submit" >Submit</button>
                        <a href="#" class="btn btn-info" role="button">Back</a>
                    </center>
                </form>
                </div>
                </div>
            </div>
        </section>
        </br>
<script>
  $(function () {
    $("#datetimepicker1").datetimepicker({
      format: 'DD/MM/YYYY',
      defaultDate: "11/1/2013",
    });
  });
</script>
{% endblock %}
