{% extends "base.html" %}
{% block title %}Reset Password{% endblock %}
{% block pagetitle %} Password reset {% endblock %}
{% block formtitle %} Open Source Hardware Project {% endblock %}
{% block content  %}
{% load static %}
<section class="jumbotron text-center">
    <div class="container">
        <div class="row vertical-center-row">
            <div class="col-sm">
            <div><h3>Password Reset</h3></div>
            <center>
            {% if validlink %}
            <p>Please enter your new password twice.
            So we can verify you typed it in correctly.</p>
            <form action="" method="post">
                <div style="display:none">
                    <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                </div>
                <table>
                    <tr>
                        <td>{{ form.new_password1.errors }}
                            <label for="id_new_password1" >New password:</label></td>
                        <td>{{ form.new_password1 }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.new_password2.errors }}
                            <label for="id_new_password2" >Confirm password:</label></td>
                        <td>{{ form.new_password2 }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button class= "btn btn-success" type="submit" onclick="return checkform(this);">Submit</button> 
                    </tr>
                </table>
            </form>
            {% else %}
                <h1>Password reset unsuccessful</h1>
                <p>The password reset link was invalid, <br />
                possibly because it has already been used. <br />
                Please request a new password reset.</p>
            {% endif %}
        </center>
    </div>
</section>

<script>
function checkform(form) { 
    // alert("in");
    var pwd1 = document.getElementById("id_new_password1");
    // alert(pwd1.value);
    var pwd2 = document.getElementById("id_new_password2");
    //return false;
    if(pwd1.value.length && pwd2.value.length < 8) { 
        alert("Error: Password must contain at least eight characters!"); 
        pwd1.focus();     
        pwd1.value = "";
        pwd2.value = "";
        return false;
    }
}

</script>
{% endblock %}
