{% extends "base.html" %}
{% block title %} Password reset complete {% endblock %}
{% block pagetitle %} Password reset {% endblock %}
{% block formtitle %} Open Source Hardware Project {% endblock %}
{% block content  %}
{% load static %}

<section class="jumbotron text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <p>Your password has been reset. </p>
                <p><a class= "btn btn-success" href="{{ login_url }}">Log in</a></p>
            </div>
        </div>
    </div>
</section>

{% endblock %}
