{% extends "base.html" %}
<!DOCTYPE html>
{% block title %} Password change successful {% endblock %}
{% block pagetitle %} Password reset done{% endblock %}
{% block formtitle %} Open Source Hardware Project {% endblock %}
{% block content  %}
{% load static %}

<section class="jumbotron text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <p>Your password has been changed successfully. </p>
                <p><a class= "btn btn-success" href='/'>Go to home page.</a></p>
            </div>
        </div>
    </div>
</section>
{% endblock %}